# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
venv/
.env/
.env.*

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Data output (IMPORTANT)
# =========================
data/processed/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/